<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CembraPayCheckout_CembraPayCheckoutCore::main_menu" title="CembraPay"
             module="CembraPayCheckout_CembraPayCheckoutCore" sortOrder="100"
             resource="CembraPayCheckout_CembraPayCheckoutCore::simplenews" />
        <add id="CembraPayCheckout_CembraPayCheckoutCore::manage_configuration" title="CembraPay Checkout Configuration"
             module="CembraPayCheckout_CembraPayCheckoutCore" sortOrder="1" parent="CembraPayCheckout_CembraPayCheckoutCore::main_menu"
             action="adminhtml/system_config/edit/section/cembrapaycheckoutsettings" resource="CembraPayCheckout_CembraPayCheckoutCore::manage_configuration" />
        <add id="CembraPayCheckout_CembraPayCheckoutCore::manage_logs" title="CembraPay Checkout Logs"
             module="CembraPayCheckout_CembraPayCheckoutCore" sortOrder="2" parent="CembraPayCheckout_CembraPayCheckoutCore::main_menu"
             action="cembrapaycheckoutcore/logs/index" resource="CembraPayCheckout_CembraPayCheckoutCore::manage_logs" />
    </menu>
</config>
