<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ByjunoCheckout_ByjunoCheckoutCore::main_menu" title="Byjuno"
             module="ByjunoCheckout_ByjunoCheckoutCore" sortOrder="100"
             resource="ByjunoCheckout_ByjunoCheckoutCore::simplenews" />
        <add id="ByjunoCheckout_ByjunoCheckoutCore::manage_configuration" title="Byjuno Checkout Configuration"
             module="ByjunoCheckout_ByjunoCheckoutCore" sortOrder="1" parent="ByjunoCheckout_ByjunoCheckoutCore::main_menu"
             action="adminhtml/system_config/edit/section/byjunocheckoutsettings" resource="ByjunoCheckout_ByjunoCheckoutCore::manage_configuration" />
        <add id="ByjunoCheckout_ByjunoCheckoutCore::manage_logs" title="Byjuno Checkout Logs"
             module="ByjunoCheckout_ByjunoCheckoutCore" sortOrder="2" parent="ByjunoCheckout_ByjunoCheckoutCore::main_menu"
             action="byjunocheckoutcore/logs/index" resource="ByjunoCheckout_ByjunoCheckoutCore::manage_logs" />
    </menu>
</config>
